.header {
    height: 68px;
    align-items: center;
    justify-content: space-between;
    @include breakpoint-up(large) {
        height: 112px;
    }

    // background-color: black;

    &__first {
        align-items: center;

        &-menu {
            margin-right: 16px;
        }

        &-logo {
            margin-right: 40px;
            // border: 1px solid red;
        }

        &__nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            background-color: $white;

            @include breakpoint-up(large) {
                flex-direction: row;
                position: unset;
                color: $grayishBlue;
                width: unset;
                height: unset;
                padding-left: unset;
            }
            
            &-items {
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                padding: 0;
                transition: all 0.3s;

                li {
                    cursor: pointer;

                    &:hover {
                        color: $black;
                    }
                }
                padding-left: 26px;
                :first-child {
                    margin-bottom: 24px;
                }

                :not(:last-child) {
                    margin-bottom: 24px;
                }
                @include breakpoint-up(large) {
                    flex-direction: row;
                    :first-child {
                        margin-bottom: unset;
                    }

                    :not(:last-child) {
                        margin-bottom: unset;
                        margin-right: 35px;
                    }
                }
            }



        }
    }

    &__second {
        align-items: center;
        img {
            height: 24px;
            width: 24px;
            z-index: -1;
        }

        &-avatar {
            cursor: pointer;
            img {
                @include breakpoint-up(large) {
                    height: 50px;
                    width: 50px;
                }
                &:hover {
                    border: 2px solid $primaryOrange;
                    border-radius: 50%;
                }
            }


        }

        &-cart {
            position: relative;
            span {
                position: absolute;
                bottom: 20px;
                left: 10px;
                background-color: $primaryOrange;
                padding-inline: 10px;
                padding-block: 3px;
                border-radius: 40px;
                font-size: 10px;
                color: $white;
            }
            cursor: pointer;
            margin-right: 23px;
        } 
    }
}

hr {
    height: 1px;
    background-color: hsl(240, 5%, 91%);
    border: none;
}

.close {
    margin-top: 25px;
    margin-bottom: 57px;
}

.drop {
    background-color: black;
    width: 100%;
    height: 100vh;
    z-index: 1;
}